body {
  background-color: #c79dae;
}

.jumbotron {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
}

h2 {
  text-align: justify;
  margin-top: 50px;
}

.form-control {
  width: 90%;
}

#quiz {
  float: left;
}

#output {
  clear: right;
}

.hider {
  display: none;
}